.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* App.css */
.scrim {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);  /* Dark semi-transparent background */
  z-index: 999; /* Ensure it appears above the page content */
  display: none; /* Initially hidden */
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  z-index: 1000; /* Ensure the modal appears above the scrim */
  display: none; /* Initially hidden */
}

.modal-content {
  background-color: white;
  color: black;
  padding: 20px;
}

.modal-header,
.modal-body,
.modal-footer {
  padding: 10px;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

/* Make sure the modal and scrim show when modalVisible is true */
.modal.show, .scrim.show {
  display: block;
}

/* Add this to your CSS file */
.calendar-disabled {
  pointer-events: none;
  opacity: 0.5; /* Optional: make the calendar look visually inactive */
}